@import "./styles/constants";

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family, sans-serif, serif;
}

body {
  background-color: $body-bg;
  color: $text-color;
  overflow-x: hidden;
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.switch{
  font-size: 1.5rem;
  span{
    margin-right: .5rem;
    padding-right: .5rem;
    cursor: pointer;

    &:first-child{
      border-right: 1px solid #333;
    }
  }
  color: #333;
  margin-bottom: 2rem;
}

.active{
  font-weight: bold;
  color: #000;
}

.app{
  padding: 3rem;
  h1{
    text-align: center;
    font-size: 3rem;
  }
}

.input{
  display: flex;
  flex-direction: column;
  margin: .5rem 0;

  label{
    font-weight: bold;
    font-size: 1.1rem;
  }
  input{
    border: 1px solid #0008;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 20rem;
    background-color: #e5e8c3;
  }
}

h2{
  font-size: 3rem;
  color: #759f85;
}

.flex{
  display: flex;
  gap: 1rem;
}

.btn{
  color: #fff;
  background-color: #7BC74D;
  font-size: 1.2rem;
  padding: .5rem;
  width: 7rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  background: #759f85;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons{
    display: flex;
    margin-top: 3rem;

    a{
      margin: 1rem;
      background-color: #7BC74D;
      color: #fff;
      font-size: 1.25rem;
      padding: .5rem;
      text-align: center;
      border-radius: 5px;
      // font-weight: bold;
    }
  }
}

.screen-center{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom{
  font-size: 1.5rem;
  text-align: right;
  a{
    text-decoration: underline;
    transition: .1s all;

    &:hover
    {
      color: #7BC74D;
    }
  }
}

.app {
  min-height: 100vh;
}

.bottom-basic{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

body {
  background-color: #bdd5cb;
}

.logo {
  width: 7rem;
  margin-right: 1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

h3 {
  font-size: 2rem;
}

label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  transform: scale(1.4);
  margin-right: .5rem;
}